body {
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: #f3e5d8;
}

header {
  background-color: #8b5e3c;
  color: white;
  padding: 15px;
  font-size: 24px;
}

.menu {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 768px) {
  /* Style for mobile devices */
  .menu-item {
    font-size: 14px;
  }
  .menu-item:hover {
    background-color: #f0f0f0;
  }
  img {
    width: 100%; /* تنظیم عرض به 100% */
    height: auto; /* ارتفاع به طور خودکار تنظیم می‌شود */
    border-radius: 10px; /* گوشه‌های تصاویر گرد */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ایجاد سایه برای زیبایی */
    margin: 10px 0; /* فاصله از بالا و پایین */
  }

  /* استایل برای جعبه‌های محصول */
  .product {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #e6d198;
    align-items: center;
  }

  /* استایل برای تصویر محصول */
  .product-image {
    flex: 1;
    margin-right: 20px;
  }

  .product-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  /* استایل برای اطلاعات محصول */
  .product-info {
    flex: 2;
  }

  .product-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .product-info p {
    font-size: 18px;
    color: #fdfdfd;
  }
  .product.sib {
    background-color: #cac700;
  }
  .product.mojito {
    background-color: #a6ce92;
  }
  .product.sibVip {
    background-color: #e09f12;
  }
  .product.damnoosh {
    background-color: #ccb43b;
  }
  .product.espreso {
    background-color: #946855;
  }
  .product.teaService {
    background-color: #4aa4e1;
  }
}
